/x64
/Debug
/ipch
/MouseHook/Debug
/MouseHook/x64
/MouseHook.VC.db
/.vs

/**/debug/
/**/release/

#build_dirs
build-*

libav/

*.h264
*.avi
*.mp4

Trash/
build_dll/
build_app/
/*.exe
*.pro.user

*.rar